@font-face {
	font-family: "AvenirLight";
	font-style: normal;
	font-weight: lighter;
	src: local("AvenirLight"), url("/ui/fonts/AvenirLTStd-Light.otf") format("opentype");
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: 1.5em;
	font-family: AvenirLight, Arial, sans-serif;
	color: hsl(0, 0%, 25%);
	background-color: hsl(205, 76%, 95%); /* hsla(0, 0%, 100%, 0.9) on top of hsl(215, 65%, 50%) */
	background-image: radial-gradient(hsl(190, 100%, 50%), hsl(215, 65%, 50%));
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	position: relative;
	margin: 2px;
	padding: 2px 4px 0;
	text-decoration: none;
	font-size: 150%;
	color: hsl(0, 0%, 10%);
}

noscript {
	text-align: center;
}

noscript > h2 {
	margin: 0;
	padding-top: 30%;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: hsla(0, 0%, 100%, 0.9);
	pointer-events: none;
}

header > nav {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

header > nav > .players {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-between;
	width: 100%;
	max-width: 150px;
}

header > nav > .players > div {
	width: 25px;
	height: 25px;
	background-color: currentColor;
	border-radius: 25%;
}

header > nav > .players > .p1 {
	color: #900; /* Cardinal */
}

header > nav > .players > .p2 {
	color: #fc0; /* Gold */
}

header > nav > .players > .p3 {
	color: #F75; /* Coral */
}

header > nav > .players > .p4 {
	color: #DAD; /* Plum */
}

main {
	position: relative;
	top: 15vh;
	width: 90vw;
	max-width: 500px;
	height: 90vw;
	max-height: 500px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 2px white;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: hsla(0, 0%, 100%, 0.9);
	pointer-events: none;
}

footer > .container {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 10px auto 4px;
}

footer > .container > div {
	margin: 0 auto;
}

footer > .container > *[class^="icon"]::before {
	margin-right: 5px;
	font-size: 90%;
	vertical-align: 1px;
}

footer > .container > .icon-box::before {
	margin-right: 2px;
	vertical-align: -1px;
}

footer > .container > .icon-star::before {
	margin-right: 2px;
}
