* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: hsl(0, 0%, 25%);
	background-color: hsl(205, 76%, 95%); /* hsla(0, 0%, 100%, 0.9) on top of hsl(215, 65%, 50%) */
	background-image: radial-gradient(hsl(190, 100%, 50%), hsl(215, 65%, 50%));
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	position: relative;
	margin: 2px;
	padding: 2px 4px;
	text-decoration: none;
	font-weight: lighter;
	font-size: 150%;
	color: hsl(0, 0%, 10%);
	-webkit-transition: color 400ms;
	   -moz-transition: color 400ms;
	    -ms-transition: color 400ms;
	     -o-transition: color 400ms;
	        transition: color 400ms;
}

a::before {
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 50%;
	z-index: -1;
	content: "";
	background-color: transparent;
	-webkit-transition: right 400ms, left 400ms, background-color 400ms;
	   -moz-transition: right 400ms, left 400ms, background-color 400ms;
	    -ms-transition: right 400ms, left 400ms, background-color 400ms;
	     -o-transition: right 400ms, left 400ms, background-color 400ms;
	        transition: right 400ms, left 400ms, background-color 400ms;
}

a:hover {
	color: hsl(0, 0%, 100%);
}

a:hover::before {
	right: 0;
	left: 0;
	background-color: hsl(215, 65%, 50%);
}

button {
	line-height: 1.5em;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: hsla(0, 0%, 100%, 0.9);
	pointer-events: none;
}

header > nav {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

header > nav > .players {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-between;
	width: 100%;
	max-width: 150px;
}

header > nav > .players > div {
	width: 25px;
	height: 25px;
	background-color: currentColor;
	border-radius: 25%;
	outline: 3px dashed transparent;
	outline-offset: calc((-25px / 2) - 6px);
	pointer-events: auto;
	-webkit-transition: outline-color 400ms, outline-offset 400ms, opacity 400ms;
	   -moz-transition: outline-color 400ms, outline-offset 400ms, opacity 400ms;
	    -ms-transition: outline-color 400ms, outline-offset 400ms, opacity 400ms;
	     -o-transition: outline-color 400ms, outline-offset 400ms, opacity 400ms;
	        transition: outline-color 400ms, outline-offset 400ms, opacity 400ms;
}

header > nav > .players > div.current {
	outline-color: black;
	outline-offset: -3px;
	-webkit-animation: playerActive 2s infinite;
	   -moz-animation: playerActive 2s infinite;
	    -ms-animation: playerActive 2s infinite;
	     -o-animation: playerActive 2s infinite;
	        animation: playerActive 2s infinite;
}

header > nav > .players > div.disabled {
	opacity: 0.3;
}

@-webkit-keyframes playerActive {
	from { -webkit-transform: rotate(0deg); }
	50%  { -webkit-transform: rotate(180deg); }
	to   { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes    playerActive {
	from {    -moz-transform: rotate(0deg); }
	50%  {    -moz-transform: rotate(180deg); }
	to   {    -moz-transform: rotate(360deg); }
}

@-ms-keyframes     playerActive {
	from {     -ms-transform: rotate(0deg); }
	50%  {     -ms-transform: rotate(180deg); }
	to   {     -ms-transform: rotate(360deg); }
}

@-o-keyframes      playerActive {
	from {      -o-transform: rotate(0deg); }
	50%  {      -o-transform: rotate(180deg); }
	to   {      -o-transform: rotate(360deg); }
}

@keyframes         playerActive {
	from {         transform: rotate(0deg); }
	50%  {         transform: rotate(180deg); }
	to   {         transform: rotate(360deg); }
}

header > nav > .link {
	pointer-events: auto;
}

main {
	position: relative;
	top: 15vh;
	width: 90vw;
	max-width: 500px;
	height: 90vw;
	max-height: 500px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 2px white;
	cursor: default;
}

main.mode-select::after,
main.waiting::after,
main.leave::after,
main.restart::after,
main.disconnected::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 33%;
	text-align: center;
	color: black;
	background-color: hsla(0, 0%, 100%, 0.9);
}

main.mode-select::after {
	content: "Choose a Game Mode";
}

main.waiting::after {
	content: "Finding an Opponent";
}

main.leave::after {
	content: "Opponent Left";
}

main.restart::after {
	content: "Winner is Player " attr(data-winner);
}

main.restart[data-winner="-1"]::after {
	content: "Tie Game!";
}

main.disconnected::after {
	content: "Connection Lost";
}

main > .modes {
	display: none;
}

main.mode-select > .modes,
main > button {
	position: absolute;
	top: 60%;
	z-index: 1;
	margin-top: 0.5vh;
}

main.mode-select > .modes {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-around;
	align-items: center;
	right: 15%;
	left: 15%;
	width: 70%;
}

main > button {
	right: 35%;
	left: 35%;
	width: 30%;
}

main > .container {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	flex-wrap: wrap;
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	pointer-events: none;
}

main > .container.boxes {
	pointer-events: auto;
}

main .box {
	position: relative;
	width: 10%;
	height: 10%;
	color: transparent;
	background-color: currentColor;
}

main .box[class*="p"] {
	width: calc(10% - 6px);
	height: calc(10% - 6px);
	margin: 3px;
}

main .box[class*="p"]::before,
main .box[class*="p"]::after {
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	content: "";
	border: 2px solid currentColor;
	-webkit-animation: clipPath 8s linear infinite;
	        animation: clipPath 8s linear infinite;
}

main .box[class*="p"]::after {
	animation-delay: -4s;
}

main .box[class*="p"]:nth-child(odd)::before,
main .box[class*="p"]:nth-child(odd)::after {
	animation-direction: reverse;
}

@keyframes clipPath {
	0%   { -webkit-clip-path: polygon(0                0,                    100% 0,                    100% 2px,      0                2px); }
	12%  { -webkit-clip-path: polygon(50%              0,                    100% 0,                    100% 50%,      50%              50%); }
	25%  { -webkit-clip-path: polygon(calc(100% - 2px) 0,                    100% 0,                    100% 100%,     calc(100% - 2px) 100%); }
	38%  { -webkit-clip-path: polygon(50%              50%,                  100% 50%,                  100% 100%,     50%              100%); }
	50%  { -webkit-clip-path: polygon(0                calc(100% - 2px),     100% calc(100% - 2px),     100% 100%,     0                100%); }
	62%  { -webkit-clip-path: polygon(0                50%,                  50%  50%,                  50%  100%,     0                100%); }
	75%  { -webkit-clip-path: polygon(0                0,                    2px  0,                    2px  100%,     0                100%); }
	88%  { -webkit-clip-path: polygon(0                0,                    50%  0,                    50%  50%,      0                50%); }
	100% { -webkit-clip-path: polygon(0                0,                    100% 0,                    100% 2px,      0                2px); }
}

main > .container.lines {
	top: calc(20px - (2px / 2));
	right: calc(20px - (2px / 2));
	bottom: calc(20px - (2px / 2));
	left: calc(20px - (2px / 2));
}

main .line {
	width: 0;
	height: 0;
	color: transparent;
	border: 0 dashed currentColor;
}

main .line.horizontal {
	width: calc(10% - (22px / 10));
	border-top-width: 2px;
}

main .line.vertical {
	height: calc(10% - (22px / 10));
	margin-top: 2px;
	border-right-width: 2px;
}

main .line.horizontal + .line.horizontal {
	margin-left: 2px;
}

main .line.hover {
	color: black;
	transition-duration: 200ms;
}

main .line[class*="p"] {
	-webkit-animation: anim-shadow 400ms;
	   -moz-animation: anim-shadow 400ms;
	    -ms-animation: anim-shadow 400ms;
	     -o-animation: anim-shadow 400ms;
	        animation: anim-shadow 400ms;
}

.p1 main .line.p1,
.p2 main .line.p2,
.p3 main .line.p3,
.p4 main .line.p4 {
	-webkit-animation: none;
	   -moz-animation: none;
	    -ms-animation: none;
	     -o-animation: none;
	        animation: none;
}

@-webkit-keyframes anim-shadow {
	from { box-shadow: 0 0 0 0 black; }
	to   { box-shadow: 0 0 10px 5px transparent; }
}

@-moz-keyframes anim-shadow {
	from { box-shadow: 0 0 0 0 black; }
	to   { box-shadow: 0 0 10px 5px transparent; }
}

@-ms-keyframes anim-shadow {
	from { box-shadow: 0 0 0 0 black; }
	to   { box-shadow: 0 0 10px 5px transparent; }
}

@-o-keyframes anim-shadow {
	from { box-shadow: 0 0 0 0 black; }
	to   { box-shadow: 0 0 10px 5px transparent; }
}

@keyframes anim-shadow {
	from { box-shadow: 0 0 0 0 black; }
	to   { box-shadow: 0 0 15px 7.5px transparent; }
}

main .line[class*="p"],
main .line[class*="p"].hover {
	border-style: solid;
}

main > .container.dots {
	top: calc(20px - (6px / 2));
	right: calc(20px - (6px / 2));
	bottom: calc(20px - (6px / 2));
	left: calc(20px - (6px / 2));
}

main .dot {
	width: 6px;
	height: 6px;
	margin-right: calc(10% - (66px / 10));
	margin-bottom: calc(10% - (66px / 10));
	background-color: black;
	border-radius: 50%;
}

main .dot:nth-child(11n) {
	margin-right: 0;
	margin-bottom: 0;
}

main .box,
main .line {
	-webkit-transition: color 400ms, border-color 400ms, background-color 400ms;
	   -moz-transition: color 400ms, border-color 400ms, background-color 400ms;
	    -ms-transition: color 400ms, border-color 400ms, background-color 400ms;
	     -o-transition: color 400ms, border-color 400ms, background-color 400ms;
	        transition: color 400ms, border-color 400ms, background-color 400ms;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: hsla(0, 0%, 100%, 0.9);
	pointer-events: none;
}

footer > .container {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 10px auto;
}

footer > .container > div {
	margin: 0 auto;
	color: black;
	pointer-events: auto;
	cursor: help;
}

footer > .container > *[class^="icon"]::before {
	margin-right: 5px;
	font-size: 90%;
	vertical-align: 1px;
}

footer > .container > .icon-box::before {
	margin-right: 2px;
	vertical-align:-1px;
}

footer > .container > .icon-star::before {
	margin-right: 2px;
}

#authentication {
	position: fixed;
	top: 1.4em;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding-top: 25vh;
	font-size: 150%;
	background-color: hsla(0, 0%, 0%, 0.9);
	-webkit-backdrop-filter: blur(5px);
}

#authentication.error::after {
	width: 100%;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	font-size: 75%;
	content: attr(data-error);
	color: red;
}

#authentication * {
	width: 50%;
	min-width: 250px;
	margin: 10px auto;
}

#authentication input {
	display: block;
	width: 50%;
	min-width: 250px;
	margin: 10px auto;
	padding: 10px;
	font-size: 50%;
}

#authentication > .actions {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-around;
	align-items: center;
}

#authentication > .actions > button {
	margin: 5px;
}

#authentication > .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	min-width: initial;
	height: 40px;
	margin: 0;
	cursor: pointer;
}

#authentication > .close::before,
#authentication > .close::after {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	content: "";
	background-color: lightgrey;
}

#authentication > .close::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

#authentication > .close::after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

noscript {
	text-align: center;
}

noscript > h2 {
	margin: 0;
	padding-top: 30%;
}

@supports(-webkit-backdrop-filter: blur()) {
	#authentication {
		background-color: hsla(0, 0%, 0%, 0.7);
	}
}


.p1,
main.restart[data-winner="1"]::after,
.p1 footer > .container > *[class^="icon"]::before {
	color: #900 !important; /* Cardinal */
}

.p1 footer > .container > .icon-box::before {
	content: url(/ui/images/icon-box-p1.svg);
}


.p2,
main.restart[data-winner="2"]::after,
.p2 footer > .container > *[class^="icon"]::before {
	color: #fc0 !important; /* Gold */
}

.p2 footer > .container > .icon-box::before {
	content: url(/ui/images/icon-box-p2.svg);
}


.p3,
main.restart[data-winner="3"]::after,
.p3 footer > .container > *[class^="icon"]::before {
	color: #F75 !important; /* Coral */
}

.p3 footer > .container > .icon-box::before {
	content: url(/ui/images/icon-box-p3.svg);
}


.p4,
main.restart[data-winner="4"]::after,
.p4 footer > .container > *[class^="icon"]::before {
	color: #DAD !important; /* Plum */
}

.p4 footer > .container > .icon-box::before {
	content: url(/ui/images/icon-box-p4.svg);
}
