* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: hsl(0, 0%, 25%);
	background-color: hsl(215, 65%, 50%);
	background-image: radial-gradient(hsl(190, 100%, 50%), hsl(215, 65%, 50%));
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	position: relative;
	margin: 2px;
	padding: 2px 4px;
	text-decoration: none;
	font-weight: lighter;
	font-size: 150%;
	color: hsl(0, 0%, 10%);
	-webkit-transition: color 400ms;
	   -moz-transition: color 400ms;
	    -ms-transition: color 400ms;
	     -o-transition: color 400ms;
	        transition: color 400ms;
}

a::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: "";
	background-color: transparent;
	-webkit-transform: rotateY(90deg);
	   -moz-transform: rotateY(90deg);
	    -ms-transform: rotateY(90deg);
	     -o-transform: rotateY(90deg);
	        transform: rotateY(90deg);
	-webkit-transition: -webkit-transform 400ms, background-color 400ms;
	   -moz-transition:    -moz-transform 400ms, background-color 400ms;
	    -ms-transition:     -ms-transform 400ms, background-color 400ms;
	     -o-transition:      -o-transform 400ms, background-color 400ms;
	        transition:         transform 400ms, background-color 400ms;
}

a:hover {
	color: hsl(0, 0%, 100%);
}

a:hover::before {
	background-color: hsl(215, 65%, 50%);
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
	    -ms-transform: rotateY(0deg);
	     -o-transform: rotateY(0deg);
	        transform: rotateY(0deg);
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: hsla(0, 0%, 100%, 0.9);
	-webkit-backdrop-filter: blur(5px);
}

header > nav {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main {
	position: relative;
	top: 15vh;
	width: 90vw;
	max-width: 500px;
	height: 90vw;
	max-height: 500px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 2px white;
	cursor: default;
}

main > .container {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flexbox;
	display:         flex;
	flex-wrap: wrap;
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	pointer-events: none;
}

main .box {
	position: relative;
	width: calc(10% - 6px);
	height: calc(10% - 6px);
	margin: 3px;
	color: transparent;
	background-color: currentColor;
	pointer-events: all;
}

main .box[class*="p"]::before,
main .box[class*="p"]::after {
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	content: "";
	border: 2px solid currentColor;
	animation: clipPath 8s linear infinite;
}

main .box[class*="p"]::after {
	animation-delay: -4s;
}

main .box[class*="p"]:nth-child(odd)::before,
main .box[class*="p"]:nth-child(odd)::after {
	animation-direction: reverse;
}

@keyframes clipPath {
	0%   { -webkit-clip-path: polygon(0                0,                    100% 0,                    100% 2px,      0                2px); }
	12%  { -webkit-clip-path: polygon(50%              0,                    100% 0,                    100% 50%,      50%              50%); }
	25%  { -webkit-clip-path: polygon(calc(100% - 2px) 0,                    100% 0,                    100% 100%,     calc(100% - 2px) 100%); }
	38%  { -webkit-clip-path: polygon(50%              50%,                  100% 50%,                  100% 100%,     50%              100%); }
	50%  { -webkit-clip-path: polygon(0                calc(100% - 2px),     100% calc(100% - 2px),     100% 100%,     0                100%); }
	62%  { -webkit-clip-path: polygon(0                50%,                  50%  50%,                  50%  100%,     0                100%); }
	75%  { -webkit-clip-path: polygon(0                0,                    2px  0,                    2px  100%,     0                100%); }
	88%  { -webkit-clip-path: polygon(0                0,                    50%  0,                    50%  50%,      0                50%); }
	100% { -webkit-clip-path: polygon(0                0,                    100% 0,                    100% 2px,      0                2px); }
}

main > .container.lines {
	top: calc(20px - (2px / 2));
	right: calc(20px - (2px / 2));
	bottom: calc(20px - (2px / 2));
	left: calc(20px - (2px / 2));
}

main .line {
	width: 0;
	height: 0;
	color: transparent;
	border: 0 solid currentColor;
	pointer-events: all;
}

main .line.horizontal {
	width: calc(10% - (22px / 10));
	border-top-width: 2px;
}

main .line.vertical {
	height: calc(10% - (22px / 10));
	margin-top: 2px;
	border-right-width: 2px;
}

main .line.horizontal + .line.horizontal {
	margin-left: 2px;
}

main .line.hover {
	color: black;
	transition-duration: 200ms;
}

main > .container.dots {
	top: calc(20px - (6px / 2));
	right: calc(20px - (6px / 2));
	bottom: calc(20px - (6px / 2));
	left: calc(20px - (6px / 2));
}

main .dot {
	width: 6px;
	height: 6px;
	margin-right: calc(10% - (66px / 10));
	margin-bottom: calc(10% - (66px / 10));
	background-color: black;
	border-radius: 50%;
}

main .dot:nth-child(11n) {
	margin-right: 0;
	margin-bottom: 0;
}

main .box,
main .line {
	-webkit-transition: color 400ms, border-color 400ms, background-color 400ms;
	   -moz-transition: color 400ms, border-color 400ms, background-color 400ms;
	    -ms-transition: color 400ms, border-color 400ms, background-color 400ms;
	     -o-transition: color 400ms, border-color 400ms, background-color 400ms;
	        transition: color 400ms, border-color 400ms, background-color 400ms;
}

main .p1 {
	color: #900; /* Cardinal */
}

main .p2 {
	color: #fc0; /* Gold */
}

#authentication {
	position: fixed;
	top: calc(5vh + 2em);
	right: 5vw;
	bottom: 5vh;
	left: 5vw;
	font-size: 150%;
	background-color: hsla(0, 0%, 0%, 0.9);
}

#authentication > * {
	display: block;
	width: 50%;
	min-width: 250px;
	margin: 20px auto;
	padding: 10px;
	font-size: 50%;
}

#authentication.error::after {
	width: 100%;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	font-size: 75%;
	content: "Invalid Username/Password";
	color: red;
}

noscript {
	text-align: center;
}

noscript > h2 {
	margin: 0;
	padding-top: 30%;
}
